@import url(./style.css);

.product-navbar {
    height: 5.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
}
.navbar {
    display: flex;
}
.logo a {
    color: var(--orange);
    text-decoration: none;
}
.nav-pages .products-link {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}
.all-products {
    color: var(--black);
    margin-top: 7rem;
}
button.addCart-btn {
    position: absolute;
    width: 14rem;
    margin-top: 11.35rem;
    margin-left: 0rem;
    display: none;
    transition: 0.2s ease;
    background: linear-gradient(var(--white), var(--light-coral));
    border: none;
    height: 2.5rem;
}
.card-with-shadow:hover button.addCart-btn {
    display: block;
}