@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

:root {
    --orange: #F76E11;
    --coral: coral;
    --light-coral:#ffd6d6; 
    --white: #fff;
    --footer-gray: #2B2B2B;
    --black: black;
    --box-shadow: 0 0.87rem 1.75rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: auto;
    background: radial-gradient(var(--white), var(--light-coral));
    padding: 0 10vw 2rem 10vw;
}
h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    margin: 2rem;
}
/*HEADER */
.navbar {
    display: flex;
}
.logo {
    flex-basis: 5rem;
    font-family: 'Federo', sans-serif;
    color: var(--orange);
    font-size: 3rem;
    padding: 0 1rem;
    border: solid 7px var(--orange);
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}
nav ul {
    display: flex;
    justify-items: flex-end;
    list-style: none;
}
nav ul li {
    flex-basis: 15%;
    margin: 1rem;
}
.nav-pages a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.19rem;
}
.nav-pages a:focus {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}
.nav-pages a:hover {
    color: var(--orange);
    border-bottom: dotted 2px var(--orange);
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    align-items: center;
    margin: auto;
}
.vivir-header {
    flex-basis: 50%;
}
.v-btn {
    padding: 1rem;
    font-size: 1.4rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 1.25rem;
    border: none;
    border: solid 3px var(--orange);
    margin-top: 1.5rem;
    cursor: pointer;
}
.v-btn:hover {
    background: none;
    color: var(--orange);
}
.vivir-img img {
    width: 25rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
.slogan {
    font-family: 'Satisfy', cursive;
    font-size: 3.75rem;
    color: var(--black);
    font-weight: bold;
   margin: 1rem 0;
}
.info {
    font-size: 18px;
}
/*FEATURED PRODUCTS*/
.featured-products {
    display: grid;
    grid-template-columns: repeat(4, 14rem);
    justify-content: space-evenly;
}
.card-with-shadow {
    box-shadow: none;
    transition: 0.2s ease;
}
.card-with-shadow:hover {
    box-shadow: var(--box-shadow);
}
.card-image img {
    height: 18rem;
}
.card-text {
    padding-left: 0.5rem;
}
.card-text span {
    font-size: 18px;
    font-weight: 600;
}
.wishlist {
    margin-top: 12rem;
    background-color: var(--coral);
}
.ratings {
    margin-top: 10rem;
}
/* EXCLUSIVE PRODUCT */
.exclusive-product {
    height: 22rem;
    padding: 0;
    padding-top: 5rem;
}
.ex-product-img img {
    height: 22rem;
    margin-top: -2rem;
}
.puma-logo img {
    height: 6.25rem;
    width: 9.4rem;
}
.product-info {
    font-size: 1.25rem;
    font-weight: 500;
}
#check-btn {
    font-size: 1.25rem;
    margin-top: 1rem;
}
/* SHOP BY CATEGORIES */
.shop-by-categories {
    display: grid;
    grid-template-columns: repeat(6, 13.75rem);
    justify-content: space-evenly;
}
.responsive-image img:hover {
    box-shadow: var(--box-shadow);
    transition: 0.2s ease;
}
/* FOOTER */
footer {
    display: flex;
    background-color: var(--footer-gray);
    color: var(--white);
    font-size: 0.87rem;
    justify-content: space-evenly;
    align-items: center;
    height: 14.2rem;
    margin-bottom: 0;
}
footer ul {
    list-style: none;
}
footer ul li a{
    color: var(--white);
}
.app-badges {
    display: flex;
    justify-content: space-evenly;
}
.app-badges img {
    width: 8rem;
}
.footer-logo {
    width: 5rem;
}
.footer-logo .logo {
    font-size: 2rem;
    border: solid 5px var(--orange);
    margin-bottom: 0.5rem;
}
.shopping-categories{
    text-align: center;
}
.shopping-categories span {
    text-decoration: underline;
}
.spaced-list ul li{
    font-size: 0.9rem;
}
.useful-links {
    font-size: 0.9rem;
    margin-top: 3rem;
}
.useful-links span {
    margin: 3rem 0 1rem 3rem;
}
.footer-links {
    display: flex;
    justify-content: space-around;
}
.footer-links a {
    font-size: 1.5rem;
    color: var(--white);
    flex-basis: 15%;
    margin: 0.5rem;
}